layout {

    default_tab_template {
        // NOTE: the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        // NOTE: shows hint
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="projects" cwd="/mnt/D/dev/01-projects" {
        pane name="explorer" {
            pane command="yazi"
        }
        pane name="editor" focus=true
        pane split_direction="vertical" {
            pane name="git"
            pane name="terminal"
        }
    }
    
    tab name="scripts" {
        pane name="emacs" command="sh" {
            args "-c" "exec emacsclient -nw -a '' -e '(dired \"/mnt/D/dev/02-areas/scripts\")'"
        }
    }

    tab name="notes" {
        pane name="emacs" command="sh" {
            args "-c" "exec emacsclient -nw -a '' -e '(dired \"/mnt/D/notes\")'"
        }
    }
}
